---
import { Image } from 'astro:assets';
const { image, title, slug } = Astro.props;
---

<a 
  class="rounded-xl"
  href={`/blog/${slug}`}
>
  <Image
    src={`/framer/${image}`}
    alt={`${title}`}     
    width="520" 
    height="320"
    decoding="async"
    loading="lazy"
    class="rounded-xl"
  />
  <h3 class="text-lg font-semibold mt-4">{title}</h3>
</a>
