---
import { getCollection, type CollectionEntry } from 'astro:content';
import PostCard from './Card.astro';

const blog: CollectionEntry<'blog'>[] = await getCollection('blog');

const posts = blog
  .filter(post => post.data.published && !post.data.pinned)
  .sort((a,b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {posts.map((entry) => (
    <PostCard
      image={entry.data.image}
      title={entry.data.title}
      slug={entry.id}
    />
  ))}
</div>