---
import { getCollection, type CollectionEntry } from 'astro:content';
import PostCard from './Card.astro';

const blog: CollectionEntry<'blog'>[] = await getCollection('blog');

const posts = blog
  .filter(post => post.data.published && !post.data.pinned)
  .sort((a,b) => new Date(b.data.published).getTime() - new Date(a.data.published).getTime());
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-10">
  {posts.map(({ data }) => (
    <PostCard
      image={data.image}
      title={data.title}
      slug={data.slug}
    />
  ))}
</div>