@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, corporate, sunset, lofi, black;
}

@theme {
  --font-sans: 'Inter Variable', 'sans-serif';
}

.prose pre {
  overflow-x: auto;
  max-width: 100%;
  white-space: pre;
}

.prose div.relative {
  overflow-x: auto;
  max-width: 100%;
}