@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Geist Variable', 'sans-serif';
}

@layer utilities {
  .animate-growDown {
    animation: growDown 0.3s ease-out forwards;
  }

  .fade-in {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.5s ease-out forwards;
  }

  .shadow-smooth {
    box-shadow:
      rgba(0, 0, 0, 0.18) 0px 0.722625px 3.03502px -0.833333px,
      rgba(0, 0, 0, 0.18) 0px 2.74624px 11.5342px -1.66667px,
      rgba(0, 0, 0, 0.18) 0px 12px 50.4px -2.5px;
  }

  .delay-100 { animation-delay: 0.1s; }
  .delay-200 { animation-delay: 0.2s; }
  .delay-300 { animation-delay: 0.3s; }
  .delay-400 { animation-delay: 0.4s; }
  .delay-500 { animation-delay: 0.5s; }
  .delay-600 { animation-delay: 0.6s; }

  @keyframes growDown {
    0% {
      transform: scaleY(0);
      transform-origin: top;
    }
    100% {
      transform: scaleY(1);
      transform-origin: top;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer components {
  .btn-primary {
    @apply flex items-center w-full sm:w-auto hover:cursor-pointer justify-center gap-2 px-8 py-6 bg-[#111111] hover:bg-gray-800 text-white text-2xl font-semibold rounded-xl ease-in;
  }
  
  .heading-hero {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-7xl font-semibold mt-1.5 mb-6 text-balance;
  }

  .section-h2 {
    @apply text-4xl md:text-5xl font-semibold mb-6 w-1/2;
  }

  .all-btn {
    @apply px-4 py-2 text-sm text-white font-semibold bg-[#181D27] rounded-lg cursor-pointer;
    @apply shadow-[inset_1px_1px_2px_rgba(255,255,255,0.1),_2px_2px_5px_rgba(0,0,0,0.3)];
    @apply hover:shadow-[inset_1px_1px_1px_rgba(255,255,255,0.08),_1px_1px_3px_rgba(0,0,0,0.2)] hover:opacity-90 transition-all;
  }

  .all-btn-big {
    @apply px-4.5 py-3 text-base font-semibold rounded-xl cursor-pointer transition-all;
  }

  /* Solid button (default) */
  .all-btn-big:not(.outline) {
    @apply bg-neutral-900 text-white hover:opacity-90;
  }

  /* Outline button */
  .all-btn-big.outline {
    @apply bg-transparent text-neutral-900 border border-[#e4e4e4] hover:bg-neutral-900 hover:text-white;
  }

  .primary-text {
    @apply text-neutral-900;
  }

  .secondary-text {
    @apply text-neutral-400;
  }

  .base {
    @apply bg-[#f2f2f2];
  }
}

@layer base {
  :root {
    --icon-primary : #171717;
    --icon-muted: #a1a1a1;
  }
}