@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, lofi, cmyk, black;
}

@theme {
  --font-sans: var(--font-inter), sans-serif;
}

@custom-variant dark (&:where([data-theme=black], [data-theme=black] *));

.prose pre {
  overflow-x: auto;
  max-width: 100%;
  white-space: pre;
}

.prose div.relative {
  overflow-x: auto;
  max-width: 100%;
}