---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogList from '../components/BlogList/index.astro';
import PinnedPost from '../components/BlogList/PinnedPost.astro';

// Constants
const title = "Scripting Pixels - Framer Templates and Resources";
const description = "Framer Templates for High-Impact Sites - Launch fast with premium templates built for speed, flexibility, and a modern web presence.";
---

<BaseLayout {title} {description}>
  <!-- Blog Intro -->
  <section class="max-w-4xl mx-auto mt-12 lg:mt-24 mb-14 text-left">
    <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold mb-6 text-balance">
      Design & Website Building Blog
    </h1>

    <p class="text-xl secondary-text text-balance text-base-content/70">
      UI design tips, Framer tutorials, and practical lessons for building and growing online.
    </p>
  </section>

  <!-- Pinned Post -->
  <section class="max-w-4xl mx-auto mb-16">
    <PinnedPost />
  </section>

  <!-- Blog List -->
  <section class="max-w-4xl mx-auto mb-20">
    <BlogList />
  </section>
</BaseLayout>
