---
// Icons
import { Menu } from '@lucide/astro';

// Components
import Logo from "./Logo.astro";
---

<header class="mt-5 mx-auto w-full md:w-auto max-w-6xl px-2.5">
  <nav class="flex gap-12 items-center justify-between bg-[#f6f6f6] border px-3.5 border-[#e4e4e4] py-2.5 rounded-xl">
    <Logo />
    {/* Navigation Links */}
    <div class="flex items-center justify-end gap-6">
      <ul class="hidden md:flex items-center gap-6 text-sm font-semibold text-gray-500">
        <li><a href="/">Home</a></li>
        <li><a href="/faqs">FAQs</a></li>
        <li><a href="/blog">Blog</a></li>
        <li>
          <a class="flex items-center gap-2" target="_blank" href="https://x.com/leandroubilla_">
            <img src="/icons/x-social-media-dark-icon.svg" alt="X Logo" class="h-4 inline-block"> 
          </a>
        </li>
        <li>
          <a class="flex items-center gap-2" target="_blank" href="https://www.youtube.com/@scriptingpixels">
            <img src="/icons/youtube-dark-icon.svg" alt="YouTube Logo" class="h-6 inline-block"> 
          </a>
        </li>
      </ul>
      {/* CTA Button */}
      <div class="flex items-center gap-5 justify-end">
        <a
          href="/framer"
          class="hidden md:block all-btn"
        >
          Framer Templates
        </a>
        <button         
          class="hover:cursor-pointer hamburger -mx-[3px]"
          aria-label="Open menu"
        >
          <Menu color="#181D27" size="24" />
        </button>
      </div>
    </div>
  </nav>
</header>