---
import { X } from '@lucide/astro';
---

<div 
  id="overlay" 
  class="fixed inset-0 bg-black/90 backdrop-blur-md hidden flex-col items-center justify-center text-white z-40 overflow-hidden"
>
  <!-- Close Button -->
  <button 
    class="absolute z-10 top-5 right-5 text-3xl cursor-pointer"
    id="close-overlay"
    aria-label="Close menu"
  >
    <X color="#FFFFFF" size="24" />
  </button>

  <!-- Animated container -->
  <div class="flex flex-col mx-12 justify-center w-full h-full animate-growDown">
    <!-- Navigation Links with fade-in animation -->
    <nav class="flex flex-col gap-y-8 text-6xl font-semibold">
      <a href="/" class="fade-in delay-100">
        <div class="relative inline-block">
          <span class="absolute -top-4 -left-6 text-sm text-zinc-500 font-semibold">01</span>
          <h2 class="text-6xl font-semibold text-white hover:text-neutral-300 transition-colors duration-200">
            Home
          </h2>
        </div>
      </a>

      <a href="/framer-templates" class="fade-in delay-200 block">
        <div class="relative inline-block">
          <span class="absolute -top-4 -left-6 text-sm text-zinc-500 font-semibold">02</span>
          <h2 class="text-6xl font-semibold text-white hover:text-neutral-300 transition-colors duration-200">
            Templates
          </h2>
        </div>
      </a>

      <a href="/faqs" class="fade-in delay-300 block">
        <div class="relative inline-block">
          <span class="absolute -top-4 -left-6 text-sm text-zinc-500 font-semibold">03</span>
          <h2 class="text-6xl font-semibold text-white hover:text-neutral-300 transition-colors duration-200">
            FAQs
          </h2>
        </div>
      </a>

      <a href="/blog" class="fade-in delay-400 block">
        <div class="relative inline-block">
          <span class="absolute -top-4 -left-6 text-sm text-zinc-500 font-semibold">04</span>
          <h2 class="text-6xl font-semibold text-white hover:text-neutral-300 transition-colors duration-200">
            Blog
          </h2>
        </div>
      </a>      
    </nav>

    <!-- Social Links -->
    <div class="flex flex-col space-y-2 mt-12 fade-in delay-500">
      <p class="text-lg">Follow me</p>
      <div class="flex items-center space-x-5 text-3xl mt-2">
        <a href="https://twitter.com/leandroubilla_" aria-label="Twitter" class="hover:text-gray-300">
          <img 
            aria-hidden="true" 
            class="w-6 h-6" 
            src="/x-social-media-white-icon.png" 
            alt="Fiverr Logo" 
          /> 
        </a>
        <a href="https://youtube.com/scriptingpixels" aria-label="YouTube">
          <img 
            aria-hidden="true" 
            class="w-8 h-8" 
            src="/youtube-app-white-icon.png" 
            alt="Fiverr Logo" 
          /> 
        </a>
      </div>
    </div>
  </div>
</div>
