<div>
  <p>
    Secure payments by 
    <a href="https://www.lemonsqueezy.com" target="_blank">
      <img 
        src="/logos/lemon-squeezy-dark-logo.svg" 
        alt="LemonSqueezy Logo" 
        class="inline h-5 w-auto ml-1 transition-transform hover:-translate-y-1"
      />
    </a>
  </p>
</div>