---
import { ClientRouter } from 'astro:transitions'
import '@fontsource-variable/inter';
import '../styles/global.css'
import  SpeedInsights  from "@vercel/speed-insights/astro"
// Supports weights 100-900
import Overlay from '../components/Overlay.astro'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Analytics from '../components/Analytics.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
    <!-- SEO Meta Tags -->
    <title>{Astro.props.title ?? 'Scripting Pixels - Framer Templates & Resources'}</title>
    <meta name="description" content={Astro.props.description ?? 'Framer design tips, small business guides, and website launch hacks, all in one place. Also, check out our favorite Framer templates to launch in days, not weeks.'}>

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.scriptingpixels.com">
    <meta property="og:title" content={Astro.props.title ?? 'Scripting Pixels - Framer Templates & Resources'}>
    <meta property="og:description" content={Astro.props.description ?? 'Framer design tips, small business guides, and website launch hacks, all in one place. Also, check out our favorite Framer templates to launch in days, not weeks.'}>
    <meta property="og:image" content="https://www.scriptingpixels.com/og-image.jpg">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="scriptingpixels.com">
    <meta name="twitter:url" content="https://www.scriptingpixels.com">
    <meta name="twitter:title" content={Astro.props.title ?? 'Scripting Pixels - Framer Templates & Resources'}>
    <meta name="twitter:description" content={Astro.props.description ?? 'Framer design tips, small business guides, and website launch hacks, all in one place. Also, check out our favorite Framer templates to launch in days, not weeks.'}>
    <meta name="twitter:image" content="https://www.scriptingpixels.com/og-image.jpg">

    <!-- Prevent flash of unstyled content (FOUC) on first paint.
     Hide body until styles are applied, then fade it in.
     Note: This is a workaround, not a perfect fix. -->

    <style is:inline>
      body {
        visibility: hidden;
        opacity: 0;
      }
    </style>

    <style is:global>
      body {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.2s linear, opacity 0.2s linear;
      }
    </style>

    <ClientRouter />
    <SpeedInsights/>
    <Analytics />
	</head>
	<body>
    <div class="relative leading-tightest">
      <div class="bg-[#f2f2f2] flex justify-center font-sans">
        <div class="flex flex-col w-full min-h-screen">
          <Header />
          <main class="flex-grow max-w-[1920px] mx-auto px-2.5 md:px-5 xl:px-20">
            <slot />
          </main>
          <Footer />
        </div>
      </div>
      <Overlay />
    </div>
    <script>
      import "../scripts/menu.js";
    </script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>